# ignore the following files.

# Regular object files.
*.o
*.so

# Binaries
harness
harness_pristine
harness_static
cpuidTest

# vim 
.*.swp
*~

# runtime files
*runtime*
ping.eager
ping.normal
spin.*

# MPI files
hostfile

installPath
TAGS
*.core
*.bz2

*.dat
*.out
shim_functions.c
shim_enumeration.h
localConfig
.R*
*.w2
*.dot
*.freqs
*.csv
*.pyc
*.pdf
\#*
*.gch
errlog*